<div class="row ">
	<div class="col not-eaten-section">
		{{id}}.
		{{burger_name}}
	</div>

	<div class="col">
		<button class="eat btn btn-danger" data-id="{{id}}" data-newdevour="{{devour}}">
			Eat ME!
		</button>
	</div>
</div>